<!DOCTYPE html>
<html>
  <head>
    <title>Today's Date</title>
  </head>
  <body>
    <h1>Today</h1>
    <% d = Datetime.new %>
    <% day = d.day %> 
    <% month = d.month %>
    <% date = d.date %> 
    <% year = d.year %> 
    <p>The date is <%= "#{day}, #{month} #{date}, #{year}" %></p>
  </body>
</html>